<% content_for(:title) { "Channels"} %>
<h3 class='header-title'> Channels </h3>

<div class='clearfix'>
  <div class='left'>
    <%= link_custom 'New Channel', new_channel_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: channels_path %>
  </div>
</div>

<table class='table'>
  <tbody>
    <% @my_channels.each do |channel| %>
      <%= render 'channel', channel_with_role: ObjectWithRole.new(channel) %>
    <% end %>
  </tbody>
</table>

<h3 class='header-title'> Shared Channels </h3>
<table class='table'>
  <tbody>
    <% current_user.channel_permissions.each do |permission| %>
      <%= render 'channel', channel_with_role: ObjectWithRole.new(permission.channel, permission.role), show_role: true %>
    <% end %>
    

  </tbody>
</table>