.bar{
  background-color: #efefef;
  height: 7px;
  padding: 0px;
  width: 280px !important;
  border-radius: 3px;
}
#counter-bar{
	height: 5px;
  width: 0px;
  border-radius: 3px;
  background-color: #F35958;
}

.help-block{
	color: #a94442;
}