<p> Hi, <b><%=@user.full_name %></b> </p>

<p> 
 Please confirm your change password request by clicking on the button below. 
</p>

<p>
 <%= link_to "Change Password", change_passwords_url(t: @user.reset_password_token), class: 'btn btn-app btn-primary' %>
</p>