<div class="panel panel-info">
  <table class='table table-responsive'>
   <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <% if admin %>
        <td class='td-last'>Action</td>
        <% end %>
      </tr>
    </thead>
    <% if alert.alert_groups.length > 0 %>

    <tbody>
      <% alert.alert_groups.each do |alert_group| %>
        <tr id='alert-group-<%=alert_group.id%>'>
          <td><%= alert_group.group.name %></td>
          <td><%= truncate(alert_group.group.description) %></td>
          <% if admin %>
          <td><%= link_destroy ' ', alert_alert_group_path(alert, alert_group),
                          class: 'remove-alert-group', data: {id: alert_group.id } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>
</div>
