<div class='search-wrapper'>
  <div class="input-group">
    <input id='member-typeahead' type="text" 
          class="form-control typeahead" placeholder="Add Recipient"
          data-url="<%= new_members_group_path(group_with_role.object) %>"

          >
    <span class="input-group-btn">
      <button id='add-member-group' class="btn btn-primary btn-app" type="button">Add Recipient</button>
    </span>
  </div>

  <input id='member-value' 
         type='hidden'
         value=''
         data-url='<%=memberships_path() %>'
         data-group-id='<%=group_with_role.object.id %>'
         >
</div>