<h3> Group: <%= @group.name %> </h3>
<p style='font-style: italic; color: gray; margin-left: 15px;'> <%= @group.description %></p>

<%= render 'shared/alerts_with_projects', alerts: @group.alerts.includes(:project) %>