<% content_for(:title) { "Edit User"} %>
<%= page_header "Edit Group" %>

<%= render 'form' %>
<%= render 'search_member' %>

<div id='member-list'>
  <%= render 'memberships/members', group: @group %>
</div>
