<% content_for(:title) { "Password Changed"} %>
<% breadcrumb_buffer([{"Change Password": password_users_path},{ "Password Changed": nil}]) %>

<%= page_header "Reset password user" %>

<p style='color:gray;font-size: 14px;'>
   <b> <%= @user.user_name %> </b>'s password has been reset to : 
   <b> <input id='pwd-hidden' type='password' value='<%= @random_password %>' class='pwd-label'/> </b>
   <p>
     <a class='btn btn-primary btn-app btn-hidden-content' data-ref-id='pwd-hidden' > Show </a>
    </p>
</p>
