<h3> Hi, <%= @user.full_name %> </h3>

<p>
  An confirmation email has been sent to you, Please follow the instruction on your email to activate your account.
</p>

<%= render 'shared/email_delivery' %>