.alert-animate {
  z-index: 9999;
  .alert-body{
    position: relative;
    background: #eee;
    min-width: 300px;
    padding: 10px;
    text-align: left;
    font-weight: 600;
    @include border-radius(5px);
    border: 1px solid #fff;
    padding: 15px;
  }
}

label.required abbr{
  color: red;
  font-weight: bold;
}

form {
  max-width: 600px;
  label {
    font-weight: 500
  }
}

.input-row {
  margin-bottom: 15px;
}

label.inline {
  display: inline;
  width: auto !important
}

.inline-short {
  width: 6em !important;
}

.form {
  @include form-inline(10em);
}

.typeahead {
  z-index: 1051;
}

.empty-message{
  padding: 0 15px;
  color: red;
}

.input-row-close{
  margin-top: -15px;
  margin-bottom: 15px;
}

.keyword-highlight {
  background: none repeat scroll 0 0 activecaption;
  margin: 0 3px;
  padding: 0 6px;
  white-space: nowrap;
  @include border-radius(3px);
}

.param-link {
  font-size: 90%;
  font-style: italic;
  color: gray;
}

.header-title {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.header-group {
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.color-danger {
  color: $color-danger;
}
.color-primary {
  color: $color-primary;
}
.btn-icon {
  padding: 5px;
  &:hover{
    text-decoration: none;
  }
  .glyphicon {
    font-size: 18px;
  }
}

.td-last {
  width: 100px;
}

em.highlight {
  background: yellow;
}
.feed-title {
  font-size: 18px;
  margin-top: 30px;
}
.page-viewer-border {
  background: #fafafa;
}
.input-group{
  .btn {
    padding: 10px;
  }
}

#notification {
  background: #eee;
  right: 25px;
  top: 65px;
  border: 1px solid #fff;
  position: fixed;
  display: block;
  z-index: 99999;
  min-width: 320px;
  padding: 5px 10px;
  @include border-radius(3px);
  .bs-callout-danger {
    color: red;
  }
  .bs-callout-info {
    color: green;
  }

  .bs-callout {

    h4 {
      border-bottom: 1px solid #fff;
      font-size: 16px;
      margin: 0 -10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-top: 5px;
    }
    p {
      padding-top: 10px;
      margin-left: 10px;
    }
  }
}
