<div class="modal" id="content-url-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        Content is loading...
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>