
<ul class="nav nav-tabs">

  <li role="presentation" class="<%= active_tab_for_index(1, group_recipient_tab_index) %>">
    <%= link_to "Groups", groups_path %>
  </li>

  <li role="presentation" class="<%= active_tab_for_index(2, group_recipient_tab_index) %>">
    <%= link_to "Recipients", members_path %>
  </li>

</ul>