<ul class="nav nav-tabs">

  <li role="presentation" class="<%= active_tab_for_index(1, project_tab) %>">
    <%= link_to "Overview", url_tab1 %>
  </li>

  <li role="presentation" class="<%= active_tab_for_index(2, project_tab) %>">
    <%= link_to "Alerts", url_tab2 %>
  </li>
</ul>