<%=simple_form_for(project_with_role.object, html: { class: 'form-inline form'}) do |f| %>

  <% input_attrs = project_with_role.has_admin_role? ? {} : {disabled: 'disabled'} %>

  <%=f.input :name, input_html: {class: 'form-control'}.merge(input_attrs) %>
  <%=f.input :description, as: :text, input_html: {class: 'form-control', rows: 4}.merge(input_attrs), 
             wrapper_html: { class: 'inline'} %>
  
  <% if project_with_role.has_admin_role? %>
    <div class='form-group form-action-group'>
      <label></label>
      <%=f.submit 'Save', label: false, class: 'btn btn-primary btn-app' %>
    </div>
  <% end %>

<% end %>

