<% content_for(:title) { "Projects"} %>

<h3 class='header-title'> My Projects </h3>
<div class='clearfix' style="margin-bottom: 10px;">
  <div class='left'>
    <%= link_custom 'New Project', new_project_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: projects_path, admin: true %>
  </div>
</div>

<% @my_projects.each do |project| %>
  <%= render 'project', project: project, admin: true %>
<% end %>


<br />
<h3 class='header-title'> Shared Projects </h3>
<% current_user.project_permissions.each do |permission| %>
  <%= render 'project', project: permission.project,
                        admin: permission.admin_role?,
                        role: permission.role %>
<% end %>

