<% content_for(:title) { "Projects"} %>

<h3 class='header-title'> My Projects </h3>
<div class='clearfix' style="margin-bottom: 10px;">
  <div class='left'>
    <%= link_custom 'New Project', new_project_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: projects_path %>
  </div>
</div>

<% @my_projects.each do |project| %>
  <%= render 'project', project_with_role: ObjectWithRole.new(project), show_role: false %>
<% end %>


<br />
<h3 class='header-title'> Shared Projects </h3>
<% current_user.project_permissions.each do |permission| %>
  <%= render 'project', project_with_role: ObjectWithRole.new(permission.project, permission.role), show_role: true %>
<% end %>

