default: &default
  APP_NAME: "Feed Alert"
  FEED_ALERT_MAIL: "channa.ly@gmail.com"

  MANDRILL_USERNAME: 'channa.info@gmail.com'
  MANDRILL_PASSWORD: 'f3dQZgGqJGiojkNQfcpiBg'

  HOST: "http://localhost:3000"

  NUNTIUM_URL: http://nuntium.instedd.org
  NUNTIUM_ACCOUNT: ''
  NUNTIUM_APP: ''
  NUNTIUM_PWD: ""
  NUNTIUM_INCOMING_USER: ''
  NUNTIUM_INCOMING_PWD: ''

  ELASTICSEARCH_URL: 'http://localhost:9200'
  STREAM_ALERT_DATABASE_PASSWORD: ''

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  SECRET_KEY_BASE: ''