default: &default
  APP_NAME: "FeedAlert"
  APP_VERSION: "Development"

  TIME_ZONE: 'Bangkok'

  FEED_ALERT_EMAIL: "channa.ly@gmail.com"
  SUPPORT_EMAIL: ''
  NO_REPLY_EMAIL: 'feedalert-noreply@google.com'

  MANDRILL_USERNAME: 'channa.info@gmail.com'
  MANDRILL_PASSWORD: 'f3dQZgGqJGiojkNQfcpiBg'

  HOST: "http://localhost:3000"
  ASSET_HOST_URL: "http://localhost:3000"

  CODECLIMATE_REPO_TOKEN: '85edc625930f1de285c86060f710932603b6c92f9d8538f5440d6728dc62baf9'

  NUNTIUM_URL: 'http://nuntium.instedd.org'
  NUNTIUM_ACCOUNT: 'png' # Endpoint http://nuntium.instedd.org/png/qst
  NUNTIUM_APP: 'FeedAlert' # Name
  NUNTIUM_APP_PWD: "123456" # Password

  NUNTIUM_INCOMING_USER: 'nuntium'
  NUNTIUM_INCOMING_PWD: '123456'

  ELASTICSEARCH_URL: 'http://localhost:9200'
  STREAM_ALERT_DATABASE_PASSWORD: ''

  PROCESS_TIME_IN_MINUTES: '30'
  DELAY_DELIVER_IN_MINUTES: '10'

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  SECRET_KEY_BASE: '6bc7ffc575d67961b57f74a0f09aff1bb12a3b8f0d87dd01e365de27494b3343dc02ff140246fc72fc6f211ac49e07e166869c4481dedbc5ea2ac3ce12479521'