default: &default
  APP_NAME: "FeedAlert"
  APP_VERSION: "Development"

  TIME_ZONE: 'Bangkok'

  FEED_ALERT_EMAIL: "channa.ly@gmail.com"
  SUPPORT_EMAIL: 'support@feedalert.com'
  NO_REPLY_EMAIL: "channa.ly@gmail.com"

  MANDRILL_USERNAME: ''
  MANDRILL_PASSWORD: ''

  HOST: "http://localhost:3000"
  ASSET_HOST_URL: "http://localhost:3000"

  CODECLIMATE_REPO_TOKEN: ''

  NUNTIUM_URL: ''
  NUNTIUM_ACCOUNT: 'png' # Endpoint http://nuntium.instedd.org/png/qst
  NUNTIUM_APP: '' # Name
  NUNTIUM_APP_PWD: "" # Password

  NUNTIUM_INCOMING_USER: ''
  NUNTIUM_INCOMING_PWD: ''

  ELASTICSEARCH_URL: 'http://localhost:9200'
  STREAM_ALERT_DATABASE_PASSWORD: ''

  PROCESS_TIME_IN_MINUTES: '30'
  DELAY_DELIVER_IN_MINUTES: '10'

  SIDEKIQ_USERNAME: ''
  SIDEKIQ_PASSWORD: ''
  NEW_RELIC_KEY: ''

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  SECRET_KEY_BASE: '6bc7ffc575d67961b57f74a0f09aff1bb12a3b8f0d87dd01e365de27494b3343dc02ff140246fc72fc6f211ac49e07e166869c4481dedbc5ea2ac3ce12479521'