<div id='alert-keyword' >
  <div class="input-group">
    <input type="text" 
          class="form-control typeahead" placeholder="Keywords"
          data-url="<%= new_keywords_alert_path(@alert) %>" >

    <span class="input-group-btn">
      <%= link_to "Add Keywords", alert_alert_keywords_path(@alert), class: 'btn btn-default typeahead-add' %>
    </span>
  </div>

  <input type='hidden' class='typeahead-value' />

</div>


<table>
  <thead>
    <tr>
      <td>Keyword</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>
