<div class="header-wrapper clearfix">
  <div class="pull-left"><h3 class='header-title'>Keyword Sets to search for</h3></div>

  <div class="pull-right">
    <% if project_with_role.has_admin_role? %>
      <div id='alert-keyword'>
        <div class="input-group search-wrapper">
          <input type="text"
                class="form-control typeahead" placeholder="Keyword Set"
                id="alert-keyword-typeahead"
                data-url="<%= new_keywords_alert_path(alert) %>" >

          <span class="input-group-btn">
            <%= link_to "Add Keyword Set", alert_alert_keywords_path(alert), class: 'btn btn-primary btn-app typeahead-add', id: 'add-alert-keyword' %>
          </span>
        </div>

        <input type='hidden' id='alert-keyword-value' >
      </div>
    <% end %>
  </div>
</div>

<div id='alert-keyword-list'>
  <%= render 'alert_keywords/keywords', alert: alert, admin: project_with_role.has_admin_role? %>
</div>
