<%= simple_form_for [project_with_role.object, alert], html: {class: 'form form-inline', id: 'form-alert'} do |f| %>
  <% disabled = project_with_role.has_admin_role? ? {} : {disabled: 'disabled'} %>
  <%=f.input :name, input_html: {class: 'form-control'}.merge(disabled) %>
  <%=f.input :url, input_html: {class: 'form-control'}.merge(disabled) %>

  <% if project_with_role.has_admin_role? %>
    <div class='form-group form-action-group'>
      <label></label>
      <%=f.submit 'Save', class: 'btn btn-primary btn-app', id: 'btn-alert-form' %>
    </div>
  <% end %>

<% end %>