<% content_for(:title) { "Edit Alert"} %>
<%= render 'shared/project_alert', project: @project, project_tab: 2 %>

<div class='row'>
  <div class='col-lg-6'>
    <h4> Edit Alert </h4>
    <%= render 'form' %>
  </div>
  
  <div class='col-lg-6'>
    <%= render 'alert_groups' %>
    <%= render 'alert_keywords' %>
  </div>
</div>

