.left {
  float: left;
}
.right {
  float: right;
}

.pwd-label {
  border: none !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 24px !important;
}

.input-row {
  margin-bottom: 15px;
}