.logo {
  font-family: Lato, Arial, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  color: $app_color;
  margin-top: 20px;
  a {
    color: rgb(66, 139, 202) !important;
  }
}

.logo-bar {
  background: asset-url("bar.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  height: 11px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.footer {
  border-top: transparent;
  bottom: 0;
  padding-top: 10px;
  position: fixed;
  background: #fff;
  z-index: 1;
}

.btn-app {
  // background-color: transparent;
  // background: -moz-linear-gradient(-90deg, rgba(98, 174, 253, 1) 0%, rgba(0, 123, 255, 1) 100%);
  // background: -webkit-linear-gradient(-90deg, rgba(98, 174, 253, 1) 0%, rgba(0, 123, 255, 1) 100%);
  // background-position: center center;
  // background-repeat: repeat;
  // background-size: auto auto;
  
  border-color: #67b1fd;
  border-radius: 2px;
  border-style: solid;
  border-width: 0;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  padding: 8px 20px;
  margin-left: -5px;
  &:hover {
    color: #fff;
  }
}
.search-box {
  background-color: #f7f7f7;
  background-position: center center;
  background-repeat: repeat;
  background-size: auto auto;
  border-color: #c8c8c8;
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: #757575;
  opacity: 0.8;
  padding: 5px 5px 5px 10px;
  width: 245px;
  z-index: 10034;
  font-size: 16px;
  input {
    border: none;
    background: #f7f7f7;
    width: 200px;
    font-family: "Glyphicons Halflings";
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

.tag-line {
  color: rgb(85, 132, 224);
  font-family: Arial;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 0;
  margin-bottom: 0;
}
.tag-line-sub {
  color: rgb(85, 132, 224);
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
}

.app-desc{
  margin-top: 15px;
}

.pwd-label {
  border: none !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 24px !important;
}

.input-row {
  margin-bottom: 15px;
}

.input-inline {
  margin-left: 20px !important;
  margin-right: 5px !important;
  margin-top: -3px !important;
}

.input-inline-collection {
  margin-left: 6px !important;
  margin-right: 5px !important;
  margin-top: -3px !important;
}

.form-association {
  max-width: 540px;
}

.main-nav {
  background-color: whiteSmoke;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid white;
  text-align: center;
}