<div class='footer clearfix'>
  <div class="container">
    <div class='left'> Version: <%= ENV['APP_VERSION'] %> </div>
    <div class='right'>
      <%=image_tag 'ilab-instedd.png', width: '120px;' %>
    </div>
  </div>
</div>