<% content_for(:title) { "Edit Recipient"} %>

<%= render "shared/group_recipient_tab", group_recipient_tab_index: 2 %>
<br />

<h4>Edit Recipient</h4>
<div class='row'>
  <div class='col-lg-6'> <%= render 'form' %> </div>

  <div class='form-association col-lg-6'>
    <h4 class='sub-title'> Registering groups</h4>
    <%= render 'search_group' %>

    <div id='group-list'>
      <%= render 'memberships/groups', member: @member %>
    </div>
  </div>
</div>
